footer {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width:100%;
    position: fixed;
    bottom: 0;
}

footer p {
    color: var(--light-color);
}

#deleteButton {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
}