nav {
    background-color: var(--grey-color);
    display: flex;
    justify-content: space-between;
  }
  
  nav div {
    display: inline-block;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav a, .signin-button {
    display: inline-block;
    padding: 0.5em var(--gutter);
    text-decoration: none;
    color: var(--light-color); 
  }
  
  .signin-button:hover {
    color: var(--accent-color); 
  }
  
  .signin-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    z-index: 999; /* Ensure the popup is above other content */
  }
  